include LICENSE
include tactic_client_lib/VERSION*
recursive-include examples *.py
recursive-include tactic_client_lib *.zip
recursive-include test *.PNG
recursive-include test *.jpg
recursive-include test *.png
recursive-include test *.py
